.controls {
    text-align: center;
    height: 20vh;
}

.score {
    display: flex;
    justify-content: center;
}

.score-text {
    padding: 5px;
}

button {
    background-color: #e9ff5c;
    border: none;
    font-size: 40px;
}

button:hover {
    background-color: #f7c743;
}